body {
    margin: 0;
    font-family: 'Lemonada', cursive;
}

.background {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.dialog {
    text-align: center;
    font-weight: normal;
    padding: 1%;
    position: absolute;
    z-index: 1;
    display: block;
    color: #3F362A;
    background-color: #FBD9B2;
    border: 2px #E7450D solid;
}

canvas {
    height: 100vh;
    width: 100vw;
    position: absolute;
    margin: 0;
    padding: 0;
  }

.flashingDiv {
    height: 100vh;
    width: 100vw;
    position: absolute;
    margin: 0;
    padding: 0;
    background-color: #3c00ff;
    z-index: -1;
}

.inputBox {
    position: absolute;
    top: 10%;
    right: 50%;
    height: 20%;
    width: 40%;
    background-color: #FEF596;
    border: 5px #3F362A solid;
}

.submitButton {
    margin-top: 3%;
    width: 100px;
    height: 30px;
    float: right;
    font-weight: bold;
    color: #E7450D;
    background-color: #eadd92;
    outline: none;
}

.submitButton::-moz-focus-inner {
    border: 0;
}

.textInput {
    margin-top: 3%;
    margin-right: 3%;
    float: right;
}

.ratKingDialogue {
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    color: #FF01D7;
    background-color: #01FF4F;
    border: 3px dashed #FBDE03;
    padding: 1%;
    position: absolute;
    z-index: 1;
    letter-spacing: 0.05em;
    line-height: 1em;
}

.endgameDialogue {
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    padding: 1%;
    position: absolute;
    z-index: 1;
    letter-spacing: 0.05em;
    line-height: 1em;
    color: #7dbaff;
}

.labels {
    margin-left: 3%;
    margin-top: 3%;

}